<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!-- All log traces -->
    <appender name="allFile" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/all-${bySecond}.log</file>-->
        <file>logs/all.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Only STATS log traces -->
    <appender name="statsFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/stats.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>STATS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only CORPUS log traces -->
    <appender name="corpusFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/corpus.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>CORPUS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only CATEGORIES log traces -->
    <appender name="categoriesFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/categories.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>CATEGORIES</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only EVAL log traces -->
    <appender name="evalFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/eval.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>EVAL</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only SIM log traces -->
    <appender name="simFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/sim.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SIM</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only W2V log traces -->
    <appender name="w2vFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/w2v.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>W2V</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>


    <!-- Only TOPICS log traces -->
    <appender name="topicsFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/topics.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TOPICS</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>

    <!-- Only ERROR or WARN log traces -->
    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/error.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%marker]-%logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread]: [%marker]-%cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Spark Logger -->
    <logger name="org.apache.spark" level="ERROR"/>
    <logger name="org.spark-project.jetty" level="ERROR"/>
    <logger name="org.apache.hadoop" level="ERROR"/>
    <logger name="es.upm" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="allFile" />
        <appender-ref ref="errorFile" />
        <appender-ref ref="categoriesFile" />
        <appender-ref ref="statsFile" />
        <appender-ref ref="corpusFile" />
        <appender-ref ref="evalFile" />
        <appender-ref ref="simFile" />
        <appender-ref ref="topicsFile" />
        <appender-ref ref="w2vFile" />
    </root>
</configuration>