<!doctype html>
<meta charset="utf-8">

<!-- Custom CSS -->
<link href="http://d3plus.org/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://d3plus.org/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />


<!-- Font-Awesome -->
<link href="http://d3plus.org//assets/font-awesome-4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<script src="http://www.d3plus.org/js/d3.js"></script>
<script src="http://www.d3plus.org/js/d3plus.js"></script>


  <!--
  <body>
    <header>
      <nav>
          <h1><a href="#">$name</a></h1>
          #foreach( $ref in $references )
             <a  href="boxplot-${ref}.html">$ref</a>
          #end
      </nav>
    </header>
  </body>
  -->

<div id="viz"></div>

<script>

  var data = $data

  var visualization = d3plus.viz()
      .container("#viz")
      .data(data)
      .type("box")
      .id("$id")
      .x("$x")
      .y("$y")
      .ui([{
          "label": "Visualization Type",
          "method": "type",
          "value": ["scatter","box"]
        }])
      .draw()

</script>
